body {
    margin: 0;
    font-family: Arial;
    background: url("images/background image.jpg");
    color: white;
}

.navbar {
    background: url("images/background image.jpg");
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 45px;
}

.navbar input {
    margin-top: 10px;
    padding: 8px;
    width: 260px;
    border-radius: 5px;
    border: none;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.youtube {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.details {
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}

.details img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#movieDescription {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
}


/* ===============================
   DETAILS PAGE STYLES
================================ */

.details-bg {
    min-height: 100vh;
    background: url("images/background image.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.details-container {
    display: flex;
    gap: 30px;
    background: rgba(10, 10, 10, 0.8);
    border-radius: 20px;
    padding: 25px;
    max-width: 1100px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


/* LEFT */

.poster-box {
    width: 300px;
    background: #dedcdc;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(191, 189, 189, 0.2);
}

.poster-box img {
    width: 100%;
    height: 400px;
    display: block;
}

.info-strip {
    background: #a52a2a;
    color: rgb(235, 229, 229);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


/* RIGHT */

.content-box {
    flex: 1;
}

.content-box h1 {
    margin-top: 0;
    font-size: 32px;
    text-decoration: underline;
}

.content-box h3 {
    color: #e7e3e3;
    margin-bottom: 15px;
}

.content-box p {
    font-size: 15px;
    line-height: 1.6;
    color: #e8e4e4;
}


/* BUTTON */

.watch-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: transform 0.3s;
}

.watch-btn:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 15px;
    background: black;
    margin-top: 20px;
}